.DS_Store
/Resources
/platform
/node_modules
/app/lib/node_modules
/app/lib/ark
/app/webpack/node_modules
/app/webpack/bundle.js
/app/assets/bundle.jsx
.idea
/i18n
build.log
build
npm-debug.log
tmp
.map
.project
.settings
Thumbs.db
